@import url('https://fonts.googleapis.com/css2?family=Brush+Script+MT&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full height */
    font-family: Arial, sans-serif;
}

#background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



header {
    background: #7C9473; /* Olive green background for a natural feel */
    color: #FFFFFF; /* White text for contrast */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Brush Script MT', cursive; /* Brush Script MT for a personal, handcrafted feel */
    font-size: 4em; /* Increased size for better visibility */
    color: #F4EBD9; /* Soft, creamy color that stands out */
}
